# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
config/config.yaml
config/user_session.session
config/db.db
config/115_tokens.json
tmp/
*.log
images/qrcode.png


# OS specific
.DS_Store
Thumbs.db
db.db

