############################################Telegram设置##################################
# bot token
# 机器人唯一Token，如果没有@BotFather创建
bot_token: 7788556677:AAH1tq-vW6Mcf3Xdp8VrJfJUwL0nRaq3Ndl
# 机器人名称（@your_bot_name）转存视频文件时用到，不需要可以留空
bote_name: 
# 授权可以使用该bot的user_id，可以设置多个
allowed_user: 1234567890
# telegram 的api信息地址(非必填，无需要可以留空。转存视频文件时需要)
tg_api_id: 1122334
tg_api_hash: 1yh3j4k9dsk0fj3jdufnwrhf62j1k33f
############################################115开放平台##################################
# 申请地址https://open.115.com/
115_app_id: 123654678
#############################################115离线设置###################################
# 下载完成后自动删除文件夹中的广告文件
clean_policy:
  # 是否开启自动清理 on: 开启 off: 关闭
  # 当设置为off时，所有策略不会生效，默认为开启
  switch: "on"
  # 文件小于设置值则自动删除单位K,M,G
  less_than: 900M

# 115离线文件夹
offline_path: /云下载

# 设置分类文件夹
# 分类文件夹设置只针对离线任务，离线下载完成后，会弹出需要移动到的分类文件夹，可以设置多个
# "name"为分类目录设置别名，"path" 115上的完整路径
category_folder:
  # 电影下的分类目录
  - name: movies
    display_name: 电影
    path_map:
      - name: 外语电影
        path: /影视/电影/外语电影
      - name: 华语电影
        path: /影视/电影/华语电影
      - name: 动画电影
        path: /影视/电影/动画电影
  # AV
  - name: av
    display_name: AV
    path_map:
      - name: 码の谜
        path: /AV/有码
      - name: 祼の真
        path: /AV/无码

# 由于反爬策略影响，该功能暂时关闭！！！
# 会自动订阅JavDB上没有磁力的影片
# 关联定时任务：
# 1、凌晨1：00更新订阅女优是否有新的未上映影片
# 2、凌晨3：00查询当前已订阅影片是否更新磁力
subscribe:
  user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
  javdb_cookie: "list_mode=h; theme=auto; over18=1;"
  # 115的实际保存目录，订阅会在指定路径自动创建以演员命名的文件夹方便分类
  path: /AV/女优
  # 订阅权重 设置高清，字幕的分数，订阅时会自动订阅得分最高的磁力
  sub_weight:
    # 高清
    hd: 5
    # 字幕
    subtitle_zh: 3

#############################################软链接设置####################################
# strm可以极大地减小请求115的次数避免风控，建议开启
# 是否创建软链（非302）
create_strm: True
# CloudDrive2 挂载115的根目录
mount_root: /CloudNAS/115
# 软链接根目录，软链接目录可以看成是115挂载目录的镜像，也是Emby设置媒体库的目录，需要挂载到容器
strm_root: /media/115

#############################################EMBY设置####################################
# 有新资源入库时会同时Emby扫库，所有媒体库建议按加入日期到排序
# EmbyServer地址 格式 http(s)://ip(域名):端口
emby_server: http://192.168.1.100:8096
# Emby APIkey  Emby-->API秘钥-->新建
api_key: 803e5l52v73649022m04by91d9301af2

#############################################电影订阅####################################
# 自动订阅https://nullbr.online/上的资源，有满足要求的自动离线到115
# 自动订阅需要申请app_id，参考申请方法
# https://nullbr.online/api?title=00.%F0%9F%93%A3api%E5%BC%80%E6%94%BE%E8%AE%A1%E5%88%92
x_app_id: xgwzQV8NQ
x_api_key: uPNw4LFG6SaAwX4jvkERKmcYedJgjwVO
# 订阅条件，全部满足才订阅
sub_condition:
  # 包含中字
  zh_cn: true
  # Dolby Vision
  dolby_vision: false
  # 分辨率优先级
  resolution_priority:
    - 2106
    - 1080
  

